@use "../variables/variables.scss" as *;

.sliding-gallery {
  position: relative;

  .slide {
    padding: 5rem 8rem;
    color: $white;
    position: relative;
    display: none;
    height: fit-content;
    min-height: 40rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$mobile-view} {
      padding: 5rem 5rem 8rem;
    }

    &.active {
      display: grid;
      justify-content: center;
      align-content: center;
    }
  }

  .title,
  .content,
  .cta {
    position: relative;
    z-index: $z-index-standard;
  }

  .title,
  .cta {
    text-align: center;
  }

  .title {
    h2 {
      font-size: clamp($font-size-h4, 5vw, $font-size-h2);
    }
  }

  .cta {
    a {
      display: block;
      padding: 1rem 2rem;
      width: fit-content;
      margin-inline: auto;
      /* margin-top: $spacing-narrow; */
      background-color: $color-primary;
      color: $black;
      text-decoration: none;
      font-family: $font-display;

      &:hover {
        color: $white;
        background-color: $color-primary-hover;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    z-index: $z-index-bottom;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas:
      ". . ."
      "arrow-left . arrow-right"
      ". dots .";
    color: $white;
    font-size: 4rem;

    @media #{$mobile-view} {
      grid-template-columns: 5rem auto 5rem;
      grid-template-rows: 5rem auto 8rem;
      grid-template-areas:
        ". . ."
        ". . ."
        "arrow-left dots arrow-right";
    }

    .arrow-right,
    .arrow-left {
      justify-self: center;
      align-self: center;
      z-index: $z-index-standard;

      &:hover {
        color: $color-primary;
        cursor: pointer;
      }
    }

    .arrow-right {
      grid-area: arrow-right;
    }

    .arrow-left {
      grid-area: arrow-left;
    }

    .dot-grid {
      grid-area: dots;
      justify-self: center;
      align-self: center;
      z-index: $z-index-standard;
      display: flex;
      flex-direction: row;
      gap: $spacing-xnarrow;

      .dot {
        height: 2rem;
        width: 2rem;
        background-color: $white;
        border-radius: $radius-standard;
        cursor: pointer;

        &:hover {
          background-color: $color-primary-hover;
        }

        &.active {
          background-color: $color-primary;
        }
      }
    }
  }
}
