@use '../variables/variables.scss' as *;

/* ----------------------------------------------------------------------------
 * MOBILE MENU
 * ----------------------------------------------------------------------------
 */
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    height: 100%;
    filter: $shadow-layer1-inverse;
    padding-inline: $spacing-standard calc($spacing-standard + $spacing-standard + 2rem);
    padding-block: $spacing-standard;
    font-family: $font-display;
    overflow: scroll;
    z-index: $z-index-spaced;

    @media #{$desktop-view} {
        display: none !important;
    }

    @media #{$xsmall-view} {
        width: 100%;
        padding-inline: $spacing-standard $spacing-standard;
    }

    .menu-toggle {
        font-size: 50px;
        position: absolute;
        cursor: pointer;
        right: 24px;
        top: 7px;

        .close {
            &:hover {
                cursor: pointer;
                color: $color-primary-hover;
            }
        }
    }

    .top {
        hr {
            margin-block: $spacing-narrow;
        }

        .menu-itmes {
            ul {
                display: flex;
                flex-direction: column;
                gap: $spacing-narrow;
                list-style-type: none;

                li {
                    a {
                        text-decoration: none;
                        color: $black;

                        &:hover {
                            color: $color-primary-hover;
                        }
                    }
                }
            }
        }
    }

    .seconary-menu {
        font-family: "DDC Hardware Condensed", sans-serif;
    }

    .bottom {
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        @media only screen and (max-height: 450px) {
            visibility: hidden;
        }

        .logo {
            width: fit-content;
            margin-inline: auto;
            padding-block: $spacing-xnarrow;

            img {
                max-height: 80px;

                &:hover {
                    filter: drop-shadow(1px 1px 0 $color-primary-hover);
                }
            }
        }
    }
}
