/* ----------------------------------------------------------------------------
 * COLORS
 * ----------------------------------------------------------------------------
 */

/* primary: green */
$color-primary-light:       #03d898;
$color-primary:             #03a678;
$color-primary-hover:       #02745f;
$color-primary-dark:        #014141;

/* secondary: orange */
$color-secondary-light:	    #fcb336;
$color-secondary:           #f07605;
$color-secondary-hover:	    #721703;
$color-secondary-dark:	    #360302;

/* shades */
$white:         #FFFFFF;
$light-gray:    #CCCCCC;
$mid-gray:      #999999;
$dark-gray:     #666666;
$black:         #333333;
$true-black:    #000000;

/* ----------------------------------------------------------------------------
 * FONTS
 * ----------------------------------------------------------------------------
 */

/* font-families */
$font-display:  'DDC Hardware', sans-sarif;
$font-mono:     'Roboto Mono', sans-sarif;
$font-sans:     'Open Sans', sans-sarif;

/* font-sizes */
$font-size-p:   1.6rem;
$font-size-h1:  4rem;
$font-size-h2:  3.6rem;
$font-size-h3:  3.2rem;
$font-size-h4:  2.6rem;
$font-size-h5:  2.2rem;
$font-size-h6:  1.8rem;

/* font-weights */
$font-weight-p:     normal;
$font-weight-h1:    normal;
$font-weight-h2:    normal;
$font-weight-h3:    800;
$font-weight-h4:    800;
$font-weight-h5:    300;
$font-weight-h6:    800;

/* font-margins */
$font-margin-p:     0 0 1rem;
$font-margin-h1:    0 0 1rem;
$font-margin-h2:    0 0 1rem;
$font-margin-h3:    0;
$font-margin-h4:    0;
$font-margin-h5:    0;
$font-margin-h6:    0;

$line-height-p:	  1.5;
$line-height-h1:	1.2;
$line-height-h2:  1.2;
$line-height-h3:	1.2;
$line-height-h4:	1.2;
$line-height-h5:	1.2;
$line-height-h6:	1.2;

/* ----------------------------------------------------------------------------
 * SPACIAL
 * ----------------------------------------------------------------------------
 */

/* border-radius */
$radius-square:    0px;
$radius-standard:  20px;
$radius-round:     100px;

/* element spacing (margin & padding) */
$spacing-xnarrow:      1rem;
$spacing-narrow:       2rem;
$spacing-standard:     3rem;
$spacing-wide:         4rem;
$spacing-xwide:        5rem;

/* ----------------------------------------------------------------------------
 * LAYERING VARS
 * ----------------------------------------------------------------------------
 */

/* box-shadow */
$shadow-layer0: 	drop-shadow(1px 1px 2px rgb(51, 51, 51, 60%));
$shadow-layer1: 	drop-shadow(3px 3px 3px rgb(51, 51, 51, 60%));
$shadow-layer2: 	drop-shadow(5px 5px 4px rgb(51, 51, 51, 60%));

$shadow-layer0-inverse: 	drop-shadow(-1px -1px 2px rgb(51, 51, 51, 60%));
$shadow-layer1-inverse: 	drop-shadow(-3px -3px 3px rgb(51, 51, 51, 60%));
$shadow-layer2-inverse: 	drop-shadow(-5px -5px 4px rgb(51, 51, 51, 60%));

/* z-index */
$zindex-bottom:    0;
$zindex-xlow:      100;
$zindex-low:       200;
$zindex-standard:  500;
$zindex-high:      800;
$zindex-xhigh:     900;
$zindex-top:       1000;


$z-index-burried: 	-1;
$z-index-zero: 		  0;
$z-index-bottom: 	  100;
$z-index-lowest: 	  200;
$z-index-lower:		  300;
$z-index-low:		    400;
$z-index-standard:	500;
$z-index-high:		  600;
$z-index-higher:	  700;
$z-index-highest:	  800;
$z-index-top: 		  900;
$z-index-nines:		  999;
$z-index-spaced: 	  1000;

/* ----------------------------------------------------------------------------
 * MEDIA QUERIES
 * ----------------------------------------------------------------------------
 */

$tablet-width: 50em;
$mobile-width: 30em;
$xsmall-width: 20em;

$desktop-view: "only screen and ( min-width: #{$tablet-width} )";
$tablet-view:  "only screen and ( max-width: #{$tablet-width} )";
$mobile-view:  "only screen and ( max-width: #{$mobile-width} )";
$xsmall-view:  "only screen and ( max-width: #{$xsmall-width} )";
