/* ****************************************************************************
 * INDEX
 * ****************************************************************************
 * 0 - 
 * 1 - 
 * ****************************************************************************
 * NOTES
 * ****************************************************************************
 * ----------------------------------------------------------------------------
 * - Fonts used are Open Sans (Google Fonts) and DDC Hardware (Licensed from 
 *   Aaron Draplin's ddcfonts.com)
 * ****************************************************************************
 * ****************************************************************************
 * 0.0 HEADER
 * ****************************************************************************
 * 
 * ----------------------------------------------------------------------------
 * ----------------------------------------------------------------------------
 * 0.1 Header
 * ----------------------------------------------------------------------------
 */
header.navbar {
	font-family: var(--font-display);
	filter: var(--shadow-layer0);
	background-color: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	margin-inline: auto;
	justify-content: center;
	padding-inline: var(--spacing-standard);
	width: 100%;
	z-index: var(--z-index-nines);
}
@media only screen and (max-width: 50em) {
	header.navbar {
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		justify-content: space-between;
	}
}
header .title,
header .menu {
	margin-inline: auto;
}

/* title */
.title .logo {
	max-height: 120px;
}
@media only screen and (max-width: 50em) {
	.title .logo {
		max-height: 79px;
		padding-block: 19px;
	}
}
@media only screen and (max-width: 30em) {
	.title .logo {
		max-height: 79px;
		padding-block: 0;
	}
}
.title .logo:hover  {
	filter: drop-shadow(1px 1px 0px var(--black));
}


/* menu */
header .menu ul {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-standard);
	list-style-type: none;
}
header .menu ul li a {
	text-decoration: none;
	color: var(--black);
}
header .menu ul li a:hover {
	color: var(--color-primary-hover);
}

header .menu .tablet-view.mobile-view {
	font-size: 4rem;
}
header .menu .tablet-view.mobile-view .open:hover {
	color: var(--color-primary-hover);
	cursor: pointer;
}
header .menu.secondary {
	font-family: "DDC Hardware Condensed", sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem 2rem;
	width: 100%;
}
header .menu.secondary ul {
	justify-content: end;
	width: 100%;
	max-width: 80rem;
	margin-inline: auto;
}
header .menu.secondary a {
	display: block;
}

/* mobile menu */
#mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--white);
	height: 100%;
	filter: var(--shadow-layer1-inverse);
	padding-inline: var(--spacing-standard) calc(var(--spacing-standard) + var(--spacing-standard) + 2rem);
	padding-block: var(--spacing-standard);
	font-family: var(--font-display);
	overflow: scroll;
	z-index: var(--z-index-spaced);
}
@media only screen and (min-width: 50em) {
	#mobile-menu {
		display: none !important;
	}
}
@media only screen and (max-width: 20em) {
	#mobile-menu {
		width: 100%;
		padding-inline: var(--spacing-standard) var(--spacing-standard);
	}
}

#mobile-menu .menu-toggle {
	font-size: 50px;
	position: absolute;
	cursor: pointer;
	right: 24px;
	top: 7px;
}
#mobile-menu .menu-toggle .close:hover {
	cursor: pointer;
	color: var(--color-primary-hover);
}
#mobile-menu .top hr {
	margin-block: var(--spacing-narrow);
}
#mobile-menu .top .menu-items ul {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-narrow);
	list-style-type: none;
}
#mobile-menu .top .menu-items ul li a {
	text-decoration: none;
	color: var(--black);
}
#mobile-menu .top .menu-items ul li a:hover {
	color: var(--color-primary-hover);
}
#mobile-menu .secondary-menu {
	font-family: "DDC Hardware Condensed", sans-serif;
}
#mobile-menu .bottom {
	background-color: var(--white);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
@media only screen and ( max-height: 450px ) {
	#mobile-menu .bottom {
		visibility: hidden;
	}
}
#mobile-menu .bottom .logo {
	width: fit-content;
	margin-inline: auto;
	padding-block: var(--spacing-xnarrow);
}
#mobile-menu .bottom .logo img {
	max-height: 80px;
}
#mobile-menu .bottom .logo img:hover {
	filter: drop-shadow(1px 1px 0 var(--color-primary-hover));
}

/* admin bar accommodations */
#main-menu.w-admin-bar,
#mobile-menu.w-admin-bar {
	top: 3.2rem;
}
#mobile-menu.w-admin-bar {
	height: calc( 100% - 3.2rem );
}

@media only screen and (max-width: 782px) { /* accommodate for the admin bar tablet view */
	#main-menu.w-admin-bar,
	#mobile-menu.w-admin-bar {
		top: 4.6rem;
	}
	#mobile-menu.w-admin-bar {
		height: calc( 100% - 4.6rem );
	}
}


/* ----------------------------------------------------------------------------
 * 0.2 Footer
 * ----------------------------------------------------------------------------
 */
/* footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "attribution last-updated";
}
footer .attribution {
    grid-area: attribution;
}
footer .last-updated {
    grid-area: last-updated;
} */


/* ****************************************************************************
 * 1.0 FRONTPAGE
 * ****************************************************************************
 * ----------------------------------------------------------------------------
 * 1.1 Adjustments
 * ----------------------------------------------------------------------------
 */
main {
	max-width: 100rem;
	margin-inline: auto;
	margin-top: -1.4rem;
}
main hr {
	margin-block: 2.4rem 1.9rem;
}
main.front-page {
	margin-top: -0.1rem;
}
/* ----------------------------------------------------------------------------
 * 1.2 gallery
 * ----------------------------------------------------------------------------
 */
.sliding-gallery {
	position: relative;
}
.sliding-gallery .slide {
	padding: 5rem 8rem;
	color: var(--white);
	position: relative;
	display: none;
	height: fit-content;
	min-height: 40rem;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 30em) {
	.sliding-gallery .slide {
		padding: 5rem 5rem 8rem;
	}
}
.sliding-gallery .slide.active {
	display: grid;
	justify-content: center;
	align-content: center;
}
.sliding-gallery .title,
.sliding-gallery .content,
.sliding-gallery .cta {
	position: relative;
	z-index: var(--z-index-standard);
}
.sliding-gallery .title,
.sliding-gallery .cta {
	text-align: center;
}
.sliding-gallery .title h2 {
	font-size: clamp(var(--font-size-h4), 5vw, var(--font-size-h2))
}
.sliding-gallery .cta a {
	display: block;
	padding: 1rem 2rem;
	width: fit-content;
	margin-inline: auto;
	/* margin-top: var(--spacing-narrow); */
	background-color: var(--color-primary);
	color: var(--black);
	text-decoration: none;
	font-family: var(--font-display);
}
.sliding-gallery .cta a:hover {
	color: var(--white);
	background-color: var(--color-primary-hover);
}
.sliding-gallery .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba( 0, 0, 0, 70%);
	z-index: var(--z-index-bottom);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

/* navigation */
.sliding-gallery .navigation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 8rem auto 8rem;
	grid-template-rows: 5rem auto 5rem;
	grid-template-areas:
		". . ."
		"arrow-left . arrow-right"
		". dots .";
	color: var(--white);
	font-size: 4rem;
}
@media only screen and (max-width: 30em) {
	.sliding-gallery .navigation {
		grid-template-columns: 5rem auto 5rem;
		grid-template-rows: 5rem auto 8rem;
		grid-template-areas:
			". . ."
			". . ."
			"arrow-left dots arrow-right";
	}
}
.sliding-gallery .navigation .arrow-left {
	grid-area: arrow-left;
	justify-self: center;
	align-self: center;
	z-index: var(--z-index-standard);
}
.sliding-gallery .navigation .arrow-right {
	grid-area: arrow-right;
	justify-self: center;
	align-self: center;
	z-index: var(--z-index-standard);
}
.sliding-gallery .navigation .arrow-left:hover,
.sliding-gallery .navigation .arrow-right:hover {
	color: var(--color-primary);
	cursor: pointer;
}
.sliding-gallery .navigation .dot-grid {
	grid-area: dots;
	justify-self: center;
	align-self: center;
	z-index: var(--z-index-standard);
	display: flex;
	flex-direction: row;
	gap: var(--spacing-xnarrow);
}
.sliding-gallery .navigation .dot-grid .dot {
	height: 2rem;
	width: 2rem;
	background-color: var(--white);
	border-radius: var(--radius-standard);
	cursor: pointer;
}
.sliding-gallery .navigation .dot-grid .dot.active {
	background-color: var(--color-primary);
}
.sliding-gallery .navigation .dot-grid .dot:hover,
.sliding-gallery .navigation .dot-grid .dot.active:hover {
	background-color: var(--color-primary-hover);
}

/* ----------------------------------------------------------------------------
 * 1.3 Gutenberg Content
 * ----------------------------------------------------------------------------
 */
.gutenberg-content {
	margin-top: var(--spacing-standard);
}


/* ****************************************************************************
 * 2.0 SHOWCASE
 * ****************************************************************************
 * ----------------------------------------------------------------------------
 * 2.1 Adjustments
 * ----------------------------------------------------------------------------
 */
/* main.showcase-template {
	margin-top: -14px;
} */
.showcase-template section {
	margin-bottom: var(--spacing-standard)
}
/* ----------------------------------------------------------------------------
 * 2.2 Title & Blurb
 * ----------------------------------------------------------------------------
 */
.showcase-template section.intro h1 {
	text-align: center;
}

/* ----------------------------------------------------------------------------
 * 2.3 Example Links
 * ----------------------------------------------------------------------------
 */
.showcase-template section.examples {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: var(--spacing-standard);
}
@media only screen and (max-width: 50em) {
	.showcase-template section.examples {
		flex-direction: column;
	}
}
.showcase-template section.examples h2 {
	font-size: 2.8rem;
	text-align: center;
}
.showcase-template section.examples .links {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.showcase-template section.examples .links a {
	color: var(--black);
	text-decoration: none;
}
.showcase-template section.examples .links a:hover {
	color: var(--color-primary-hover);
	text-decoration: underline;
}

/* ----------------------------------------------------------------------------
 * 2.4 Modal Gallery
 * ----------------------------------------------------------------------------
 */
.showcase-template section.gallery-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 20rem;
	gap: var(--spacing-xnarrow);
}
@media only screen and (max-width: 50em) {
	.showcase-template section.gallery-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width: 30em) {
	.showcase-template section.gallery-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
.showcase-template section.gallery-grid .grid-card {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: relative;
}
.showcase-template section.gallery-grid .grid-card:hover {
	cursor: pointer;
}
.showcase-template section.gallery-grid .grid-card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba( 0, 0, 0, 50%);
	z-index: var(--z-index-bottom);
	visibility: hidden;
}
.showcase-template section.gallery-grid .grid-card:hover > .overlay {
	visibility: visible;
}
.showcase-template section.gallery-grid .grid-card-modal-wrapper {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: var(--z-index-standard);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 15.5rem 1fr;
	grid-template-areas:
			"."
			"card";
	justify-content: center;
	align-items: center;
	padding-inline: var(--spacing-standard);
	padding-block: var(--spacing-standard);
	overflow: scroll;
}
.showcase-template section.gallery-grid .grid-card-modal-wrapper.w-admin-bar {
	padding-block: calc( var(--spacing-standard) + 3.2rem ) var(--spacing-standard);
}
@media only screen and (max-width: 50em) {
	.showcase-template section.gallery-grid .grid-card-modal-wrapper {
		grid-template-rows: 9rem 1fr;
	}
}
@media only screen and (max-width: 782px) {  /* accommodate for the admin bar tablet view */
	.showcase-template section.gallery-grid .grid-card-modal-wrapper.w-admin-bar {
		padding-block: calc(var(--spacing-standard) + 4.6rem) var(--spacing-standard);
	}
}
.showcase-template section.gallery-grid .grid-card-modal-wrapper.active {
	visibility: visible;
}
.showcase-template section.gallery-grid .grid-card-modal-wrapper .overlay {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba( 0, 0, 0, 50%);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	z-index: var(--z-index-standard);
	cursor: pointer;
}
.showcase-template section.gallery-grid .grid-card-modal {
	width: 100%;
	max-width: 100rem;
	height: 100%;
	max-height: 100rem;
	grid-area: card;
	display: grid;
	grid-template-rows: auto auto;
	position: relative;
	z-index: var(--z-index-highest);
}
.showcase-template section.gallery-grid .grid-card-modal .image {
	height: 100%;
	width: 100%;
	position: relative;
	cursor: auto;
}
.showcase-template section.gallery-grid .grid-card-modal .image img {
	object-fit: cover;
	height: 100% !important;
	width: 100% !important;
}
.showcase-template section.gallery-grid .grid-card-modal .image .close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	color: var(--white);
	font-size: 3rem;
	cursor: pointer;
	filter: drop-shadow(0px 0px 2px var(--black));
}
.showcase-template section.gallery-grid .grid-card-modal .image .close:hover {
	color: var(--color-primary-hover)
}
.showcase-template section.gallery-grid .grid-card-modal .content {
	background-color: rgba( 0, 0, 0, 70% );
	color: var(--white);
	padding: 3rem;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: auto;
}
.showcase-template section.gallery-grid .grid-card-modal .content * {
	margin-bottom: var(--spacing-xnarrow);
}
.showcase-template section.gallery-grid .grid-card-modal .content .title {
	font-family: var(--font-display);
	font-size: 2.4rem;
}
.showcase-template section.gallery-grid .grid-card-modal .content .date {
	font-style: italic;
}

/* ****************************************************************************
 * 2.0 Resume
 * ****************************************************************************
 * ----------------------------------------------------------------------------
 * 2.1 
 * ----------------------------------------------------------------------------
 */
main.resume-template .title {
	text-align: center;
	margin-bottom: var(--font-margin-h1);
}
main.resume-template .title h1 {
	margin-bottom: 0;
}
main.resume-template .title .subtitle {
	font-family: 'DDC Hardware Condensed';
	color: var(--dark-gray);
}
main.resume-template h3 {
	font-family: var(--font-display);
	font-size: 2.8rem;
	margin-bottom: var(--spacing-xnarrow);
}
main.resume-template .content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-narrow);
}
main.resume-template .intro .content {
	gap: 0;
}
main.resume-template .intro .content .gutenberg-content {
	margin-top: 0;
}
main.resume-template .education .content {
	justify-content: space-between;
	text-align: center;
	flex-direction: row;
}
@media only screen and (max-width: 50em) {
	main.resume-template .education .content {
		flex-direction: column;
	}
}
main.resume-template .education .content p {
	margin-block: 0;
}
main.resume-template .skills .title {
	margin-bottom: var(--spacing-narrow)
}
main.resume-template .skills .title h2 {
	margin-bottom: 0;
}
main.resume-template .skills .title .subtitle {
	font-family: 'DDC Hardware Condensed';
	color: var(--dark-gray);
}
main.resume-template .content .skill-list {
	text-align: center;
	/* margin-bottom: 2.2rem; */
}
main.resume-template .content .skill-list h3 {
	margin-bottom: var(--spacing-xnarrow);
}
main.resume-template .content .skill-list ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0;
}
@media only screen and (max-width: 50em) {
	main.resume-template .content .skill-list ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 30em) {
	main.resume-template .content .skill-list ul {
		grid-template-columns: 1fr;
	}
}
main.resume-template .content .experience {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
		"position position"
		"info list"
}
@media only screen and (max-width: 50rem) {
	main.resume-template .content .experience {
		grid-template-columns: auto;
		grid-template-areas: 
			"position"
			"info"
			"list";
	}
}
main.resume-template .content .experience .position {
	grid-area: position;
}
main.resume-template .content .experience .info {
	grid-area: info;
}
@media only screen and (max-width: 50rem) {
	main.resume-template .content .experience .info {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-areas: 
			"range range" 
			"company location";
		margin-bottom: var(--spacing-xnarrow);
	}
}
@media only screen and (max-width: 30rem) {
	main.resume-template .content .experience .info {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas: 
			"range" 
			"company"
			"location";
	}
}
main.resume-template .content .experience .info p {
	margin: 0;
}
main.resume-template .content .experience .info .range {
	font-family: var(--font-display);
	grid-area: range;
}
main.resume-template .content .experience .info .company,
main.resume-template .content .experience .info .location {
	color: var(--dark-gray);
}
main.resume-template .content .experience .info .company {
	grid-area: company;
}
main.resume-template .content .experience .info .location {
	grid-area: location;
}
main.resume-template .content .experience .list {
	grid-area: list;
}
main.resume-template .content .speaking h3,
main.resume-template .content .projects h3 {
	text-align: center;
	margin-bottom: var(--spacing-xnarrow);
}
main.resume-template .content .speaking .wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	gap: var(--spacing-narrow);
}
@media only screen and (max-width: 50em) {
	main.resume-template .content .speaking .wrapper {
		grid-template-columns: auto;
	}
}
main.resume-template .content .speaking .wrapper h4 {
	font-family: var(--font-display);
	font-size: 2rem;
	margin-bottom: var(--spacing-xnarrow);
}
main.resume-template .content .speaking .wrapper h5 {
	font-size: var(--font-size-p);
}
main.resume-template .content .projects .wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-standard);
}
main.resume-template .content .projects .project {
	display: grid;
	grid-template-columns: 30rem auto;
	gap: var(--spacing-narrow);
}
@media only screen and (max-width: 50em) {
	main.resume-template .content .projects .project {
		grid-template-columns: auto;
		gap: 0;
	}
}
main.resume-template .content .projects .project h4 {
	font-size: 2rem;
	font-family: var(--font-display);
	text-align: right;
	margin-bottom: var(--spacing-xnarrow);
}
@media only screen and (max-width: 50em) {
	main.resume-template .content .projects .project h4 {
		text-align: left;
	}
}