@use "../variables/variables.scss" as *;
@use "../variables/mixins.scss" as *;

/* ****************************************************************************
 * INDEX
 * ****************************************************************************
 * 00 - FONT FACES
 * 01 - FONT DEFINITIONS
 * ****************************************************************************
 * ----------------------------------------------------------------------------
 * FONT FACES
 * ----------------------------------------------------------------------------
 */

$ddc-font-path: "~fonts/DDC_Hardware";
@font-face {
	font-family: 'DDC Hardware';
	src: url( $ddc-font-path + '/DDCHardware-Regular.woff') format("woff");
	font-weight: 1 999;
	font-style: normal;
}
@font-face {
	font-family: 'DDC Hardware Condensed';
	src: url( $ddc-font-path + '/DDCHardware-Condensed.woff') format("woff");
	font-weight: 1 999;
	font-style: normal;
}
@font-face {
	font-family: 'DDC Hardware Compressed';
	src: url( $ddc-font-path + '/DDCHardware-Compressed.woff') format("woff");
	font-weight: 1 999;
	font-style: normal;
}

$roboto-mono-font-path: "~fonts/Roboto_Mono";
@font-face {
	font-family: 'Roboto Mono';
	src: url( $roboto-mono-font-path + '/RobotoMono-VariableFont_wght.ttf') format("truetype-variations");
	src: url( $roboto-mono-font-path + '/static/RobotoMono-Regular.ttf');
	font-weight: 1 999;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Mono';
	src: url( $roboto-mono-font-path + '/RobotoMono-Italic-VariableFont_wght.ttf') format("truetype-variations");
	src: url( $roboto-mono-font-path + '/static/RobotoMono-Italic.ttf') format("truetype");
	font-weight: 1 999;
	font-style: italic;
}

$open-sans-font-path: "~fonts/Open_Sans";
@font-face {
	font-family: 'Open Sans';
	src: url( $open-sans-font-path + '/OpenSans-VariableFont_wdth,wght.ttf') format("woff");
	font-weight: 1 999;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url( $open-sans-font-path + '/OpenSans-Italic-VariableFont_wdth,wght.ttf') format("woff");
	font-weight: 1 999;
	font-style: italic;
}

/* ----------------------------------------------------------------------------
 * 1.2 FONT CUSTOMIZATIONS
 * ----------------------------------------------------------------------------
 */
html {
	font-size: 62.5%;
  body {
    background: $white;
    color: $black;
    @include p-font;
    // p, .p
    h1, .h1 {
      @include h1-font;
    }
    h2, .h2 {
      @include h2-font;
    }
    h3, .h3 {
      @include h3-font;
    }
    h4, .h4 {
      @include h4-font;
    }
    h5, .h5 {
      @include h5-font;
    }
    h6, .h6 {
      @include h6-font;
    }
  }
}
